<div class="center-align container vwrapper-align home-box">
  <h1 class="">Welcome to the Bottega Student Network</h1>
  <a href="<%= users_path %>" class="waves-effect waves-light #1de9b6 teal accent-3 btn-large">View Users</a>
</div>
