
.card-content {
  background-color: #353535;
  color: black;
}

.card-content h4 {
  color: white;
}

#whitepart {
  height: 350px;
}


.card {
  margin: 200px;
}

#dropdown2 {
  margin-left: 5px;
}

#button1 {
  background-color: #44E19E;
  color: #353535;
}

#button2 {
  background-color: #44E19E;
  color: #353535;
}

// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-box {
  margin: 40px;
}
